// Заголовки, загальні БЕМ блоки та інше...

.page {

		// .page__main

		&__main {
		}
		&__comtacts {
		}
		&__services {
		}
}
//========================================================================================================================================================
.btn{
	white-space: nowrap;
	text-align: center;
	@include adaptiveValue("font-size", 18, 13);
		@include adaptiveValue("padding-left", 39, 24);
		@include adaptiveValue("padding-right", 39, 24);
		padding-top: rem(11);
		padding-bottom: rem(11);
		line-height: math.div(27 , 18);
		border-radius: rem(15);
		@media (max-width:$mobile){
			border-radius: rem(10); 
		}
}
.button-border{
		font-weight: 300;
		color: #00296D;
		border: 1px solid #00296D;
		background: linear-gradient(to bottom, #44C6E9 50%, transparent 50%);
      background-size: 100% 200%;
      background-position: 0 100%;
      transition: background-position 0.3s ease, color 0.3s ease;
		&:hover {
      background-position: 0 0;
		color: #fff;
	}
	@media (max-width:$mobile){
			color: #666666;
			border: 1px solid #666666;
			max-width: 140px;
         padding: rem(9) rem(24);
			background: linear-gradient(to bottom, #666666 50%, transparent 50%);
			background-size: 100% 200%;
         background-position: 0 100%;
		}
}

.subtitle {
	font-family: $fontFamily;
	@include adaptiveValue("font-size", 20, 13);
	@include adaptiveValue("line-height", 30, 20);
			font-weight: 400;
			color: #2977D5;
}
.title{
	font-family: $fontFamily;
	font-weight: 600;
	@include adaptiveValue("font-size", 64, 32);
	@include adaptiveValue("line-height", 96, 48);
}
.text {
	font-family: "Source Sans 3";
	@include adaptiveValue("font-size", 20, 13);
	@include adaptiveValue("line-height", 28, 19);
	font-weight: 300;
	color: #252525;
	padding: rem(0) rem(5) rem(0) rem(0);
}
.header-title{
	margin-bottom: rem(80);
			@include adaptiveValue("margin-bottom", 80, 40);
}