//====================================================================================================
.footer {
	width: 100%;
	&__map{
		z-index: 1;
		min-width: 100%;
		@include adaptiveValue("height", 575, 393);
	}
	// .footer__text
	
	&__text {
			background-color: #252525;
			@include adaptiveValue("padding-top", 13, 7);
			@include adaptiveValue("padding-bottom", 13, 7);
			text-align: center;
			font-family: "Montserrat";
			@include adaptiveValue("font-size", 20, 12);
			@include adaptiveValue("line-height", 24, 15);
			font-weight: 500;
			color: #FFF9FD;
		}
}

//====================================================================================================
